body {
   color: white;
   background-color: black;
   font-family: 'Sacramento', cursive;
   font-size: 32px;
   margin-top: 5%;
   margin-left: 20%;
   margin-right: 20%;
}
<<<<<<< HEAD






a {
   background-color: aquamarine;
}
paragraph {
   color: black;
   background-color: white;
   font-size: 17px;
}